In [1]:
import pandas as pd
import sys

hits="/home/luisasantus/Desktop/crg_cluster/projects/test_mmseqs/hits.m8"
output_ids = "/home/luisasantus/Desktop/crg_cluster/projects/test_mmseqs/ids_to_download.txt"
template = "/home/luisasantus/Desktop/crg_cluster/projects/test_mmseqs/template.txt"


def get_best_hits(hits):

    df = pd.read_csv(hits, sep='\t', header = None)
    # 1 - Get all the sequences with maximum identity
    df_grouped = df.groupby([0]).agg({2:'max'})
    df_grouped = df_grouped.reset_index()
    df_grouped = df_grouped.rename(columns={2:'identity_max'})
    df = pd.merge(df, df_grouped, how='left', on=[0])
    df = df[df[2] == df['identity_max']]

    # Hits presenting a best match that also have the same id name are prioritized
    df["target_id_nochain"] = df[1].str.split("_",expand = True)[0]
    df_id_match = df[df[0] == df["target_id_nochain"]]


    # Only retain the dataframe
    df_noid_match = df[~df[0].isin(df_id_match[0])]
    df_noid_match_filtered = df_noid_match.iloc[[df_noid_match[2].idxmax()]]

    final_df = pd.concat([df_id_match,df_noid_match_filtered])
    return(final_df)

In [2]:
df = get_best_hits(hits)

In [3]:
df["target_id_nochain"]

,0,1,2,3,4,5,6,7,8,9,10,11,identity_max,target_id_nochain
1,1psn,1psn_A,1.0,326,0,0,1,326,1,326,9.368000e-216,664,1.0,1psn
19,3app,3app_A,1.0,323,0,0,1,323,1,323,7.064000e-208,642,1.0,3app
339,2apr,2apr_A,1.0,325,0,0,1,325,1,325,1.679000e-215,664,1.0,2apr
345,5pep,5pep_A,1.0,326,0,0,1,326,1,326,2.656000e-216,666,1.0,5pep
74,4ape,5p4d_A,1.0,330,0,0,1,330,1,330,1.107000e-205,636,1.0,5p4d

In [ ]:
# 2. Create file with IDs to download




# 3. Create file also with chain informations




# 4. Create template file